<div class="b-container b-container__calculator_propositions" id="propositions">
    <div class="b-section_crumbs">
        <div class="b-container">
            <ol class="b-crumbs">
                <li class="b-crumbs__item" itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb">
                    <span class="b-crumbs__link">
                        Главная
                    </span>
                </li>
                <li class="b-crumbs__item b-crumbs__item_active" itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb">
                    <span>Осаго</span>
                </li>
            </ol>
        </div>
    </div>
    <div class="b-propositions__block_aside">
        <div class="b-data_your">
            <div class="b-calculator__heading b-data__heading">Ваши данные:</div>
            <div class="b-data__part">
                <div>Обьект страхования</div>
                <div class="bold">{{ auto_category.name_object_rus | raw }}</div>
            </div>
            <div class="b-data__part">
                <div>{{ auto_category.name_param_rus | raw }}</div>
{#                <div class="bold">{{ auto_category.name_param_rus }}</div>#}
            </div>
            <div class="b-data__part">
                <div>Место регистрации транспортного средства</div>
                <div class="bold">{{ city_name }}</div>
            </div>
            <button type="button" class="b-form__submit_vehicle" id="vehicleEdit">
                <span class="b-text_btn">Изменить данные</span><span class="fa fa-angle-left" aria-hidden="true"></span>
            </button>
        </div>
        <div class="b-propositions__tip">
            <div class="b-tip__icon"><span class="fa fa-clock-o" aria-hidden="true"></span></div>
            <p class="b-tip__text"><span class="bold">Мы уже сэкономили ваше время </span>(всё самое важное о лучших компаниях вы узнали за несколько секунд).</p>
        </div>
        <div class="b-propositions__tip">
            <div class="b-tip__icon"><span class="fa fa-tag" aria-hidden="true"></span></div>
            <p class="b-tip__text"><span class="bold">Цена страховки на сайте не выше, чем в страховой компании, </span>гарантируем, что вы непереплатите.</p>
        </div>
    </div>
    <div class="b-calculator b-calculator_propos">
            <div class="b-calculator__heading b-calculator__heading_propos">Ваши данные:</div>
            <div class="b-propositions">
                <div class="b-propositions__string">
                    {% for prop in propositions %}
{#                        {{ prop.tariff.brokerDiscount | dump }}#}
                        {% if loop.index%4 == 1 and not loop.first %}
                            <div class="b-propositions__string b-propositions__string_hidden">
                        {% endif%}
                        <div class="b-proposition__wrap">
                            <div class="b-proposition b-gradient_bg">
                                {% if prop.company.osago.landing_top %}
                                    <div class="b-proposition__tab">
                                        Топ продаж
                                    </div>
                                {% endif %}
                                {% if prop.company.osago.landing_recommend %}
                                    <div class="b-proposition__tab">
                                        Рекомендуем
                                    </div>
                                {% endif %}
{#                                <img src="{{ Url.to('app/web/img/unica.png') }}" alt="" class="b-proposition__logo">#}
                                <img src="{{ prop.company.logo | raw }}" alt="{{ prop.tariff.insurer.namePrint }}" class="b-proposition__logo">
                                <span class="b-company__name">{{ prop.tariff.insurer.namePrint }}</span>
                                <span class="b-company__rating b-company__rating_propos">
                                    <span class="fa fa-star-o" aria-hidden="true"></span>
                                    <span class="fa fa-star-o" aria-hidden="true"></span>
                                    <span class="fa fa-star-o" aria-hidden="true"></span>
                                    <span class="fa fa-star-o" aria-hidden="true"></span>
                                    <span class="fa fa-star-o" aria-hidden="true"></span>
                                </span>
                                <div class="b-propos__details">
                                    <ul class="b-details__list js-content_readmore">
                                        {% set bonuses = prop.company.osago.landing_bonuses | split('\n') %}
                                        {% if not bonuses[0] is empty %}
                                            {% for bonus in bonuses %}

                                                <li class="b-propos__detail">{{ bonus }}</li>

                                                {% if loop.last %}
                                                    </ul>
                                                {% endif %}
                                            {% endfor %}
                                        {% if bonuses|length > 3 %}
                                            <button class="b-details__btn_readmore js-btn_readmore">Подробнее</button>
                                        {% endif %}
                                    {% endif %}
                                </div>
                                <div class="b-discont">
                                    {% if prop.tariff.brokerDiscount > 0%}
                                    <span class="b-discont__num">{{ prop.tariff.brokerDiscount * 100 | raw }}%</span>
                                     скидка от Oh.ua
                                    {% endif %}
                                </div>
                                <button type="button" class="b-form__submit_vehicle b-proposition__buy" data-proposition="{{ loop.index0 }}">
                                    <span class="b-text_btn">Купить за {{ prop.payment | round }} грн </span><span class="fa fa-angle-right" aria-hidden="true"></span>
                                </button>
                                {% if prop.tariff.brokerDiscount > 0 %}
                                    <span class="b-proposition__gain">Экономия {{ prop.discount_sum }} грн</span>
                                {% endif %}
                                
                            </div>
                        </div>
                        {% if loop.index%4 == 0 %}
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            <div class="b-propos__guaranties">
                <div class="b-guaranties__heading">Гарантия лучшей цены</div>
                <p>Мы гарантируем самые низкие цены. Не дороже, чем напрямую в страховой компании. Если вы нашли цену ниже, мы компенсируем вам эту разницу.</p>
            </div>
            <button type="button" class="b-form__submit_vehicle" id="morePropositions">
                <span class="b-text_btn">Посмотреть еще предложения</span><span class="fa fa-angle-down" aria-hidden="true"></span>
            </button>
    </div>
    
    <div class="b-calculator__progress b-progress_propositions">
        <div class="b-gauge b-gauge_propositions">
            <span class="b-progress__status">30%</span>
        </div>
        <div class="b-scale">
            <div class="b-notch"></div>
            <div class="b-notch"></div>
            <div class="b-notch"></div>
            <div class="b-notch"></div>
            <div class="b-notch"></div>
            <div class="b-notch"></div>
            <div class="b-notch"></div>
            <div class="b-notch"></div>
            <div class="b-notch"></div>
            <div class="b-notch"></div>
            <div class="b-notch"></div>
            <div class="b-notch"></div>
            <div class="b-notch"></div>
            <div class="b-notch"></div>
            <div class="b-notch"></div>
        </div>
    </div>
</div>